{% extends "base.html" %}
{% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% endfor %}

  <section class="form-border" id="signup">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      
      <section class="form-group">
        {{ form.username.label(class="label") }}

        {% if form.username.errors %}
        {{ form.username(class="form-control form-control-lg is-invalid") }}

        <section class="form-group">
          {% for error in form.username.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </section>
        {% else %}
          {{ form.username(class="input") }}
        {% endif %}
      </section>

      <section class="form-group">
        {{ form.email.label(class="label") }}

        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}

        <section class="form-group">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </section>
        {% else %}
          {{ form.email(class="input") }}
        {% endif %}
      </section>

      <section class="form-group">
        {{ form.password.label(class="label") }}

        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid") }}

        <section class="form-group">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </section>
        {% else %}
          {{ form.password(class="input") }}
        {% endif %}
      </section>

      <section class="form-group">
        {{ form.confirm_password.label(class="label") }}

        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}

        <section class="form-group">
          {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </section>
        {% else %}
          {{ form.confirm_password(class="input") }}
        {% endif %}
      </section>

      <section class="form-group">
        {{ form.submit(class="button") }}
      </section>
    </form>

    <small class="muted-text">
      Already Have an Account?  <a class="ml-2" href="{{ url_for('login') }}#login">Sign In</a>
    </small>
  </section>
{% endblock %}

